.containerNotifi {
    width: 70%;
    height: 80%;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border: 2px solid #d7d7d7;
    gap: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}